<form>
    <div class="form-group text-center">
        <h5>Realizar una Transferencia</h5>
        <hr class="bg-white w-50" />
        <div class="d-flex align-items-center justify-content-center flex-wrap">
            <div class="mr-2">
                Emisor:
                <select id="emisor" class="form-control mx-2 w-auto d-inline"></select>
            </div>

            <div class="mr-3">
                Receptor:
                <select id="receptor" class="form-control mx-2 w-auto d-inline"></select>
            </div>

            <div class="mr-3">
                Monto:

                <input type="text" class="form-control mx-2 w-auto d-inline" id="monto" />
            </div>

            <button type="submit" class="btn btn-danger">Relalizar</button>
        </div>
    </div>
</form>