<form id="formUsuario">
    <div class="form-group text-center">
        <h5>Agregar Nuevo Usuario</h5>
        <hr class="bg-white w-50" />
        <div class="d-flex align-items-center justify-content-center">
            Nombre:
            <input class="form-control d-inline mx-3" required />
            Balance:
            <input class="form-control d-inline mx-3" required />
            <button type="submit" class="btn btn-danger">Agregar</button>
        </div>
    </div>
</form>