<div class="col-12 col-sm-7 text-center">
    <h5>Tabla de Transferencias</h5>
    <table class="table bg-light">
        <thead class="bg-danger text-white">
            <th>Fecha</th>
            <th>Emisor</th>
            <th>Receptor</th>
            <th>Monto</th>
        </thead>
        <tbody class="transferencias">
            
        </tbody>
    </table>
</div>