<div class="col-12 col-sm-5 text-center">
    <h5>Tabla de usuarios</h5>
    <table class="table bg-light">
        <thead class="bg-danger text-white">
            <th>Nombre</th>
            <th>Balance</th>
            <th></th>
        </thead>
        <tbody class="usuarios"></tbody>
    </table>
</div>